<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/2136e2642e.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Pangolin&family=Playfair+Display&family=Roboto:wght@100&family=Yellowtail&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/cdn/css/singlepage.css">
    <title>Create Group</title>
</head>
<body>

    <div class="loginbox">
        <a href="/" id="book-link">
            <img src="/cdn/images/book.jpg" class="avatar" href="#">
        </a>
        <h2>Create Study Group</h2>
        <form action="" method="post" id="group-create-form">
            <p>Group Name</p>
            <input type="text" id="gname" name="gname" placeholder="Enter The Group Name">
            <p>Description</p>
            <input type="text" id="descr" name="descr" placeholder="About The Group">
            <input type="submit" id="submit" name="" value="Submit">
            <a href="/group/">View existing groups</a>
       
        </form> 
    </div>
    <script src="/cdn/scripts/group-create.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>