<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/2136e2642e.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="/public/scripts/home-page.js">
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Pangolin&family=Playfair+Display&family=Roboto:wght@100&family=Yellowtail&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/cdn/css/style.css">
    <title>Study Group Manager</title>
</head>
<body>
    
    <header>
        <div class="container-fluid p-0">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                  <!-- <a class="navbar-brand" href="#">Study Group Manager</a> -->
                  <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button> -->
                  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="mr-auto"></div>
                    <div class="navbar-nav">
                    <div class="mr-auto">
                    </div>
                      <a class="nav-link active" aria-current="page" href="/">Home</a>
                      <!-- <a class="nav-link" href="/group/">Groups</a>
                      <a class="nav-link" id="group-create" href="/group/create">Create Group</a> -->
                      <a class="nav-link" href="/login/">Login</a>
                      <a class="nav-link" href="/login/signup">Sign up</a>
                      <!-- <a class="nav-link" href="#about">About</a> -->
                    </div>
                  </div>
                </div>
              </nav>
        </div>
    </header>
    <main>
        <!-- <section class="section-1">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-6">
                        <div class="itachi">
                            <img src="/cdn/images/kakashi.jpg" alt="Itachi">
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <section class="section-4">
            <div class="text-center">
                <h1 class = "text-dark"><%= error %> </h1>
            </div>
        </section>
    </main>
 

</body>
</html>
