<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Profile</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="/cdn/css/profile.css">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>

<div class="wrapper">
    <div class="sidebar">
        <!-- <a href="/">
            <img src="/cdn/images/book.jpg" class="avatar" href="#">
        </a> -->
        <ul>
            <li><a href=""><i class="fas fa-user"></i>Account</a></li>
            <li><a href="#" id="groups-route"><i class="fas fa-users" aria-hidden="true"></i>Groups</a></li>
            <li><a href="#" id="calendar-route"><i class="fas fa-calendar"></i>Calendar</a></li>
            <li><a href="#" id="notification"><i class="fas fa-bell" aria-hidden="true"></i>Notifications</a></li>
            <li><a href="#"><i class="fas fa-history" aria-hidden="true"></i>History</a></li>
        </ul> 
    </div>
    <div class="main_content">
        <div class="header">
                <div class="text-left">
                    <form action="/login/logout" id="Logoutform" method="post">
                        <input type="submit" id="logout" class="btn btn-outline-dark" value="Log out">
                    </form>
                </div>
                <div class="text-left">
                    <form id = "editp" action="/login/edit" method="get">
                        <input type="submit" class="btn btn-outline-dark" value="Edit Profile">
                    </form>
                </div>
            Welcome!! Have a nice day.
        </div> 
        
        <div class="icon">
            <img src="/cdn/images/avatar.png" class="avatar" href="#">
        </di>
        <details class="name text-center" id="namediv">
            <summary id="full-name"></summary>
        </details>
        <div class="contacts text-left" id="details">
        </div>
        <div class="bloq text-left">
            <div> 
                <details>
                    <summary>About: <i class="fa fa-pen"></i></summary>
                    <form action="" method="post" id="form-edit-about">
                        <div class="input-group mb-3" id="">
                            <input name="ainput" type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                              <input type="submit" class="btn btn-outline-secondary" value="Submit"></input>
                            </div>
                        </div>
                    </form>
                </details>
            </div>
            <div class="message" id="message-about"></div>
            
        </div>
        <div class="text-center" id="rating">
            <span class="heading">User Rating</span>
            <!-- <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="false"></i> -->
            <p id="total-votes">4.1 average based on 254 reviews.</p>
            <div class="row">
                <div class="side">
                  <div>5 star</div>
                </div>
                <div class="middle">
                  <div class="bar-container">
                    <div class="bar-5" id="bar-5"></div>
                  </div>
                </div>
                <div class="side right">
                  <div id="right-bar-5">150</div>
                </div>
                <div class="side">
                  <div>4 star</div>
                </div>
                <div class="middle">
                  <div class="bar-container">
                    <div class="bar-4" id="bar-4"></div>
                  </div>
                </div>
                <div class="side right">
                  <div id="right-bar-4">63</div>
                </div>
                <div class="side">
                  <div>3 star</div>
                </div>
                <div class="middle">
                  <div class="bar-container">
                    <div class="bar-3" id="bar-3"></div>
                  </div>
                </div>
                <div class="side right">
                  <div id="right-bar-3">15</div>
                </div>
                <div class="side">
                  <div>2 star</div>
                </div>
                <div class="middle">
                  <div class="bar-container">
                    <div class="bar-2" id="bar-2"></div>
                  </div>
                </div>
                <div class="side right">
                  <div id="right-bar-2">6</div>
                </div>
                <div class="side">
                  <div>1 star</div>
                </div>
                <div class="middle">
                  <div class="bar-container">
                    <div class="bar-1" id="bar-1"></div>
                  </div>
                </div>
                <div class="side right">
                  <div id="right-bar-1">20</div>
                </div>
              </div>
    </div>
</div>
    <script src="/cdn/scripts/student/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>